<section class="container">
  <div class="row mb-5">
    <div
      class="col-8 offset-1 col-sm-9 offset-sm-1 col-md-8 offset-md-1 col-lg-5 offset-lg-3"
    >
      <input
        type="search"
        class="search-input"
        placeholder="{{ 'ADMIN.USERS.FILTER' | translate }}"
        name="usersList"
        [(ngModel)]="usersList"
        autocomplete="off"
      />
    </div>
    <div class="col-1 mr-auto">
      <button class="btn btn-info" [routerLink]="['/admin/users/create']">
        <i class="fa fa-plus" title="{{ 'ADMIN.USERS.ADD' | translate }}"></i>
      </button>
    </div>
  </div>

  <div class="row mt-1" *ngFor="let user of users | filter: usersList">
    <div class="col-sm-12 col-md-11 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <a
            class="h4 text-secondary"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="viewComponent.view(user._id)"
          >
            {{ user.displayName }}
          </a>
          <span class="float-right">
            <button
              class="btn btn-info mr-1"
              [routerLink]="['/admin/users/', user._id, 'edit']"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="delete(user)">
              <i class="fa fa-trash"></i>
            </button>
          </span>
          <br />
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-secondary">{{ 'ADMIN.USERS.VIEW' | translate }}</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-view #view></app-view>
      </div>
    </div>
  </div>
</div>
